*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
a:hover{
    text-decoration: none;
}
.text-ac{
    text-align: center;
}
ul li{
    list-style: none;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

/* header */
.header .container{
    padding: 1%;
}
.logo{
    float: left;
    width: 10%;
}
.logo img{
    width: 100%;
}
.menu{
    text-align: right;
    line-height: 60px;
}
.header_menu{
    margin: 0;
}
ul.header_menu li{
    display: inline;
    font-weight: bold;
    padding: 1%;
}
.clearfix{
    clear: both;
    float: none;
}
ul.header_menu li a{
    color: #ff6b81;
}
ul.header_menu li a:hover{
    color: #ff4757;
}

/* search */
.search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.form_search input.inp-search{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}
.btn_submit{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}


/* categories */
.categories{
    padding: 4% 0;
}
.container h1{
    text-align: center;
    margin-bottom: 2% ;
}
.category-item{
    width: 28%;
    margin: 2%;
    position: relative;
}
.category-listItem{
    display: flex;
    flex-wrap: wrap;
}
.category-item img{
    width: 100%;
    border-radius: 15px;
}
.category-item span{
    color: white;
    font-size: 1.5rem;  
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 40%;
}

/* foods */
.foods{
    background-color: #ececec;
    padding: 4% 0;
}
.food_listItem{
    display:flex;
    flex-wrap: wrap;
}
.food_item{
    width: 43%;
    margin: 1%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
}
.food_item img{
    width: 20%;
    height: min-content;
    border-radius: 15px;
    margin-right: 8%;
}
p.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}
.see-all{
    color: #ff6b81;
    text-align: center;
}

/* social */
ul.social li{
    display: inline;
    padding-right: 2%;
}
.social p{
    margin-top: 15px;
}

/* order */
.order{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.form-order{
    width: 50%;
    margin: 0 auto;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.food-order-img{
    width: 20%;
    margin-right: 35px;
}
.food-order-img img{
    width:100%;
}
.food-order-infor{
    display:flex;
}
.quanlity{
    font-weight: bold;
}
.food-order-desc input{
    width: 100%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.input-order{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}
.order-label{
    margin-bottom: 1%;
    font-weight: bold;
}